<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% if user.is_authenticated and user.role == 'admin' %}
    <p>Eres el administrador <b>{{ user.username }}</b></p>
{% endif %}

{% if user.is_authenticated and user.role == 'client' %}
    <p>Es cliente <b>{{ user.username }}</b></p>
{% endif %}



{% if user.is_authenticated and user.role == 'domiciliary' %}
    <p>Es domiciliario <b>{{ user.username }}</b></p>
{% endif %}


<a class="nav-link" href="{% url 'logout' %}">Logout</a>
</body>
</html>